doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title fcc-local-weather
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='./stylesheets/app.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css')
  body
    .row
      .small-12.columns.text-center
        h1 FCC Local Weather 
        ul.stack-for-small.secondary.button-group.round
          li
            a.button.round Button1
          li
            a.button Button1
        ul.button-group.round
          li
            i.wi.wi-fahrenheit
          li 
           i.wi.wi-celsius 
        input#fahrenheit(type='radio', name='units', value='us', checked)
        label(for='fahrenheit')
          i.wi.wi-fahrenheit
        input#celsius(type='radio', name='units', value='si')
        label(for='celsius') 
          i.wi.wi-celsius
        h2#temp
        h2#summary
        h2#icon
        h2#city
        #map
    script(src='js/bundle.js') 